*{
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;

}
#myCanvas{
    border: 5px solid lightgreen;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
}
#score{
    margin-top:1rem;

}
#score,#score2{
    color:white;
    padding:10px;
    font-size:1.5rem;

}
#start{
    padding:0.25rem 0.5rem;
    background-color: yellow;
}